body
{
    background: rgb(141, 142, 143);
    color: white;
    margin: 2% 10%;
}
table, th, td {
    padding: 5px 15px;
    border-spacing: 5px;
}
.grid-Container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "top top"
    "box1 box1"
    "box2 box3"
    "box4 box4"
    "foot foot";
    grid-gap: 1em;
}
.box
{
    display: flex;
    background: rgba(126, 255, 244, 0.3);
    border: 5px solid white;
    border-radius: 15px;
    padding: 15px;
    height: 200px;
}
.nav-bar
{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
#logo-text
{
    display: inline-block;
    width: 20%;
    font-weight: bold;
}
#top-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: top;
    height: initial;
}
#box1
{
    display: flex;
    justify-content: space-around;
    grid-area: box1;
}
#table-title
{
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
}
#box2
{
    grid-area: box2;
}
#box3
{
    grid-area: box3;
}
#box4
{
    grid-area: box4;
}
#foot
{
    grid-area: foot;
    height: initial;
}