body
{
    background: rgb(50, 150, 150);
    margin: 0%;
}
table, th, td {
    padding: 5px 15px;
    border-spacing: 5px;
}
table
{
    width: 80%;
}
form
{
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    width:90%;
}
a, h1
{
    text-decoration: none;
}
.grid-Container
{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "top top"
    "box2 box3"
    "box1 box1"
    "box4 box4"
    "foot foot";
    grid-gap: .15em;
}
.box
{
    display: flex;
    background: rgba(255, 255, 255, 0.274);
    padding: 15px;
    height: 200px;
}
.nav-bar
{
    display: flex;
    justify-content: space-around;
    width: 40%;
}
.form-field
{
    display: inline-block;
    text-align: center;
    font-size: 1.25em;
    width: 30%;
}
#logo-text
{
    display: inline-block;
    width: 20%;
    font-weight: bold;
}
#top-bar
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    grid-area: top;
    height: auto;
}
#box1
{
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
    grid-area: box1;
}
#table-title
{
    font-size: 3em;
    font-weight: bold;
    text-decoration: underline;
}
#box2
{
    display: inline;
    text-align: center;
    justify-content: space-around;
    grid-area: box2;
}
#box3
{
    display: inline;
    text-align: center;
    grid-area: box3;
}
#box4
{
    display: flex;
    justify-content: space-around;
    grid-area: box4;
}
#foot
{
    display: flex;
    justify-content: center;
    grid-area: foot;
    height: initial;
}
#trade-submit-button
{
    height: 25px;
    width: 75px;
    border-radius: 5px;
}
